* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Caprasimo", serif;
    background-color: #f5ebdc;
}

/* Estilos para el header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5ebdc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Asegura que el nav esté por encima de otros elementos */
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.desplegable ul {
    display: none;
    position: absolute;
    background-color: #f5ebdc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.desplegable:hover ul {
    display: block;
}

.desplegable ul li {
    display: block;
    padding: 10px;
}

.desplegable ul li a {
    color: #333;
}

.boton-inicio-sesion {
    background-color: brown;
    /* Fondo rojo claro */
    color: white;
    /* Texto blanco */
    border: none;
    /* Sin borde */
    padding: 5px;
    margin-right: 100px;
    margin-left: 200px;
    font-size: 16px;
    /* Tamaño del texto */
    border-radius: 5px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
}

.icono-carrito {
    width: 34px;
    height: 34;
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    margin-top: 200px;
    padding-bottom: 20px;
    justify-content: center;
    display: flex;
}

.product {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
    background-color: #ffd089;
    border-radius: 10px;
}
.product-list{
    padding-left: 30px;
}

.product img {
    width: 100px;
    height: 100px;
}

#cart {
    border: 1px solid #000;
    padding: 10px;
    margin-top: 10px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.cart-image {
    width: 50px;  /* Ajusta el tamaño según tus necesidades */
    height: auto;  /* Mantiene la proporción de la imagen */
}


.cart-item p {
    margin: 0;
}

.cart-item button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-item input {
    width: 40px;
    text-align: center;
}

.cart-item .total-price {
    font-weight: bold;
}

element.style {
    display: flex;
    gap: 20px;
}

.colum-izq {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.colum-der {
    display: block;
    padding-right: 30px;
}

.conte {
    display: flex;
    gap: 20px;
}

.boton {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Caprasimo", serif;
}

.boton:hover {
    background-color: #0056b3;
}

/* footer*/
footer {
    background-color: #f5ebdc;
    color: #333;
    padding: 20px 0;
}

.contenedor-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.columna-footer {
    width: 20%;
    margin-bottom: 20px;
}

.columna-footer h3 {
    border-bottom: 1px solid #333;
    ;
    padding-bottom: 10px;
}

.columna-footer ul {
    list-style: none;
    padding: 0;
}

.columna-footer ul li {
    margin-bottom: 10px;
}

.columna-footer ul li a {
    color: #333;
    text-decoration: none;
}

.redes-sociales ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.redes-sociales li {
    list-style: none;
}

.redes-sociales li a img {
    padding-top: 10px;
    width: 54px;
    height: 54px;
}

/* Media Queries */

/* 425x906 */
@media (max-width: 425px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .product-list {
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 80%;
    }

    .conte {
        flex-direction: column;
        align-items: center;
    }

    .colum-izq, .colum-der {
        width: 100%;
        padding: 430px 20px;
    }

    .boton-inicio-sesion {
        margin-right: 0;
        margin-left: 0;
    }
}

/* 768x906 */
@media (max-width: 768px) {
    .product-list {
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 45%;
    }

    .conte {
        flex-direction: column;
        align-items: center;
    }

    .colum-izq, .colum-der {
        width: 100%;
        padding: 234px 20px;
    }

    .boton-inicio-sesion {
        margin-right: 0;
        margin-left: 0;
    }
}

/* 1024x906 */
@media (max-width: 1024px) {
    .product-list {
        justify-content: center;
    }

    .product {
        width: 45%;
    }

    .conte {
        flex-direction: column;
        align-items: center;
    }

    .colum-izq, .colum-der {
        width: 100%;
        padding: 234px 20px;
    }

    .boton-inicio-sesion {
        margin-right: 0;
        margin-left: 0;
    }
}
