body {
  position: relative;
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
 -webkit-text-size-adjust: 100%;
}

header {
 background-color: #333;
 color: #fff;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px 20px;
}

.logo img {
 width: 100px; /* Ajusta el tamaño del logo según lo necesites */
}

nav ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 display: flex;
}

nav ul li {
 margin-left: 20px;
}

nav ul li:first-child {
 margin-left: 0;
}

nav ul li a {
 font-family: "Caprasimo", serif;
 font-weight: 400;
 font-style: normal;
 color: #fff;
 text-decoration: none;
 transition: color 0.3s;
}

nav ul li a:hover {
 color: #ffd700; /* Cambia el color al pasar el ratón por encima */
}
  
.footer {
    width: 100%;
  }
  
  .container-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    padding: 3rem;
    background-color: burlywood;
  }
  
/* Ajustes generales */
.footer {
    width: 100%;
    margin-top: 50px; /* Reducido para visualización */
    padding: 20px 0; /* Agrega relleno arriba y abajo de 20px y ningún relleno a los lados */
  }
  
  .container-footer {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
  }
  
  .menu-footer {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas */
    gap: 350px; /* Espacio entre las columnas */
  }
  
  /* Estilos para cada columna */
  .contact-info,
  .information {
    flex: 1; /* Ocupa el mismo espacio dentro del contenedor */
    max-width: 300px; /* Ancho máximo de cada columna */
  }
  
  .title-footer {
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: brown;
    font-family: "Caprasimo", serif;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    color: inherit;
    font-family: "Poppins", sans-serif;
  }
  
  /* Ajustes para el contenido de cada columna */
  .contact-info ul,
  .information ul {
    padding: 0;
  }
  
  .contact-info ul li,
  .information ul li {
    list-style: none;
    color: #fdfdfd;
    font-size: 1rem;
    font-weight: 400;
  }
  
  .left-section {
    min-width: 15px;
    display: flex;
    justify-content: space-around;
    margin-right: 5%;
  }
  
  .left-section .social-circle {
    margin-top: 2%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-right: 5px;
    /* Ajustar el margen entre los círculos según tus preferencias */
  }
  
  .left-section .social-circle a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  
  .left-section .social-circle i {
    margin-top: 3px;
  }
  